body{
    background-color: aliceblue;
}

body{
    text-align: left;
}

body{
    padding-left: 0cap;
}

body{margin-left: 0cm;}

body{
    font-size: medium;
}
 
body{
border: solid 2px;
}
    
body{
    width:40%;
}